html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.ul-no-decoration {
    list-style-type: none;
}

.borderBlack{
    border: 2px black solid;
}
